<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Document</title>
</head>
<body>
  <form action="/submitcreation" method="POST">
    <h1>Blog Application</h1>
    <label for="Blog-Name">Blog-Name:</label>
    <input type="text" id="name" name="Blog-Name" required><br><br>

    <label for="Blog-Description">Blog-Description:</label>
    <input type="text" id="description" name="Blog-Description" required><br><br>

    <button type="submit">Post Blog</button>
    <a href="/">Back to Home</a>
  </form>
</body>
</html>