<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <h1>Blog Application</h1>
  <form action="/create" method="GET">
    <button type="submit" type="button">Create</button>
  </form>
  <form action="/view" method="GET">
    <button type="submit" type="button">View</button>
  </form>
  <form action="/remove" method="GET">
    <button type="submit"  type="button">remove</button>
  </form>
</body>
</html>