<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles.css">
  <title>Document</title>
</head>
<body>
  <h1>Blog Application</h1>
  <h1>Enter the name of the blog you want to remove</h1>
  <form action="/pass" method="POST">
    <input type="text" name="bRName" placeholder="Blog name">
    <input type="submit" value="OK">
  </form>
</body>
</html>